// 页面最小宽度
$min-width: 1200px;

// 头部高度
$header-height: 60px;

// 导航菜单栏宽度
$sidebar-width: 210px;

// 字体大小
$font-sizes: $pxes;

// 色值
$colors: (
  primary: #549af5,
  success: #67c23a,
  warning: #e6a23c,
  danger: #f56c6c,
  info: #909399,
);

// 边框色值
$border-colors: (
  base: #dcdfe6,
  light: #e4e7ed,
  lighter: #ebeef5,
  extra-light: #f2f6fc,
);

// 表单页宽度
$c-form-width: 1120px;
