@use "sass:map";

@import "../element-plus/variables";

$font-sizes: $pxes;

$base-colors: (
  white: white,
  black: black,
  primary: map.get($colors, primary, base),
);

$the-layout: (
  the-header: (
    height: 60px,
  ),
  the-sidebar: (
    width: 210px,
  ),
);
