@use "sass:map";

@import "../element-plus/variables";

$font-sizes: $pxes;

$base-colors: (
  white: white,
  black: black,
  primary: map.get($colors, primary, base),
  success: map.get($colors, success, base),
  warning: map.get($colors, warning, base),
  danger: map.get($colors, danger, base),
  info: map.get($colors, info, base),
  secondary: #409eff,
);

$the-layout: (
  the-header: (
    height: 60px,
  ),
  the-sidebar: (
    width: 210px,
  ),
);
