@import "utils";

.img-bg {
  background-image: url("../images/nd.png");
  background-size: 100% 100%;
  width: px2rem(252px);
  height: px2rem(447px);
}

.text {
  @extend .f4;
  color: color(3);
}