@import "../../../../../styles/utils/index";

.sidebar {
  @include position--absolute(0, null, 0, 0);

  width: 240px;
  background-color: #495060;
  overflow-x: hidden;
  overflow-y: auto;

  .logo {
    @include size(100%, 75px);

    line-height: 75px;
    padding-left: 60px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    transform-style: preserve-3d;

    .logo-icon {
      @include position--absolute(50%, null, null, 20px);
      @include size(32px, 32px);

      line-height: 0;
      transform: translateY(-50%);
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}
