@use "sass:map";

@import "~@/assets/styles/utils";

@include b(header) {
  @include size(100%, 160px);

  position: relative;
  background-color: white;

  @include c(container) {
    height: 160px;
  }

  @include e(logo) {
    @include position--absolute(50%, null, null, 0);
    @include size(568px, 120px);

    transform: translateY(-50%);
    display: block;
  }
}
