@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_m45a9hq5b752vs4i.eot?t=1498987508849');
  /* IE9*/

  src: url('//at.alicdn.com/t/font_m45a9hq5b752vs4i.eot?t=1498987508849#iefix') format('embedded-opentype'),
    /* IE6-IE8 */

  url('//at.alicdn.com/t/font_m45a9hq5b752vs4i.woff?t=1498987508849') format('woff'),
    /* chrome, firefox */

  url('//at.alicdn.com/t/font_m45a9hq5b752vs4i.ttf?t=1498987508849') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/

  url('//at.alicdn.com/t/font_m45a9hq5b752vs4i.svg?t=1498987508849#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-article:before {
  content: "\e618";
}

.icon-logout:before {
  content: "\e667";
}

.icon-product:before {
  content: "\e6f3";
}

.icon-cloud:before {
  content: "\e626";
}
