@use "sass:map";

@import "~@/assets/styles/utils";

@include b(header) {
  @include position--fixed(0, null, null, 0);
  @include size(100%, 80px);

  @include c(container) {
    height: 100%;
  }

  @include e(logo) {
    @include position--absolute(50%, null, null, 0);
    @include text--middle(50px);

    transform: translateY(-50%);
    padding-left: 60px;

    img {
      @include position--absolute(0, null, null, 0);
      @include size(50px, 50px);

      display: block;
    }
  }
}
