@import "../../../../../../../styles/utils/index";

.header {
  @include size(100%, 60px);

  line-height: 60px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .04);
  background-color: white;
  transform-style: preserve-3d;

  .avatar,
  .logout {
    @include size(32px, 32px);
    @include position--absolute(50%);

    transform: translateY(-50%);
    cursor: pointer;
    line-height: 0;
  }

  .avatar {
    right: 150px;
  }

  .logout {
    right: 15px;
  }

  .user {
    @include position--absolute(0, 50px);
    @include size(90px, 60px);

    line-height: 60px;
    font-size: 14px;
  }
}
