$padding-sm: 5px;
$padding-md: 15px;

.top {
  padding-top: $padding-md;
}

.bottom {
  padding-bottom: $padding-md;
}

.sm {
  &.top {
    padding-top: $padding-sm;
  }

  &.bottom {
    padding-bottom: $padding-sm;
  }
}
