@import "../../../styles/utils/index";

@include c(orders-wrap) {
  min-height: 450px;
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}

@include c(orders) {
  padding: 0 20px;
  list-style: none;
  font-size: 12pt * 0.75;

  @include e(item) {
    @include padding(20px, null, 20px);

    position: relative;
  }

  @include e(title) {
    text-align: center;
    padding-top: 10px;
    font-size: 18pt * 0.75;
    line-height: 100%;
  }

  @include e(user) {
    padding: 10px 0;
    display: flex;
    flex: 1;
    list-style: none;

    li {
      flex: 1;
    }

    .is-user {
      flex: 0 1 auto;
      width: 120px;
    }

    .is-address {
      @include text--overflow(1);

      flex: 0 1 auto;
      width: 260px;
    }

    .is-tel {
      flex: 0 1 auto;
      width: 170px;
    }
  }

  @include e(table) {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;

    td,
    th {
      border: 1px solid black;
      padding: 10px;
      vertical-align: text-top;
    }

    th {
      font-weight: bold;
    }
  }

  @include cc(products) {
    width: 600px;

    @include e(wrap) {
      width: 100px;
    }

    list-style: none;

    @include e(item) {
      .grid {
        display: flex;
      }

      .is-name {
        flex: 0 1 auto;
        width: 250px;
      }

      .is-price {
        flex: 0 1 auto;
        width: 70px;
      }

      .is-number {
        flex: 0 1 auto;
        width: 70px;
      }

      .is-total {
        flex: 0 1 auto;
        width: 70px;
      }
    }
  }

  @include e(remark) {
    @include position--absolute(132px, null, null, 470px);
  }
}

/*
.c-orders__item {
  page-break-after: always;
}
*/
