@import "../../styles/utils/index";

@include c(icon-select) {
  @include e(prefix) {
    @include margin(null, 5px, null, 5px);
  }

  @include e(option-icon) {
    @include position--relative(2px);

    font-size: 18px;
    margin-right: 5px;
  }
}
