@import "../../utils/index";

@each $key, $value in $font-sizes {
  .#{$key} {
    font-size: $value;
  }
}

[data-dpr="2"] {
  @each $key, $value in $font-sizes {
    .#{$key} {
      font-size: $value * 2;
    }
  }
}

[data-dpr="3"] {
  @each $key, $value in $font-sizes {
    .#{$key} {
      font-size: $value * 3;
    }
  }
}
