@font-face {
  font-family: 'iconfont';  /* project id 893846 */
  src: url('https://at.alicdn.com/t/font_893846_162cuzjgbuc.eot');
  src: url('https://at.alicdn.com/t/font_893846_162cuzjgbuc.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_893846_162cuzjgbuc.woff') format('woff'),
  url('https://at.alicdn.com/t/font_893846_162cuzjgbuc.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_893846_162cuzjgbuc.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e641";
}

.icon-address:before {
  content: "\e60f";
}

.icon-user:before {
  content: "\e63f";
}

.icon-drop:before{
  content: '\e65c';
}
