@import "../../../styles/utils/index";

.login {
  @include position--absolute(250px, null, null, 50%);

  background-color: white;
  margin-left: -180px;
  width: 360px;

  form {
    @include margin(10px, null, 10px, null);
  }
}
