@import "../../../../../../../styles/utils/index";

@include c(header) {
  @include text--middle($header-height);

  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  background-color: white;
  transform-style: preserve-3d;

  @include e(avatar, logout, user) {
    @include size(60px, $header-height);

    float: right;
    line-height: $header-height;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #e6f7ff;
    }
  }

  @include e(logout) {
    i {
      font-size: 18px;
    }
  }

  @include e(user) {
    line-height: $header-height;
    font-size: 14px;
  }
}
