@import "../../../styles/utils/index";

.main {
  @include position--absolute(70px, null, 0, -600px);

  background-color: white;
  width: 1200px;
  margin-left: 50%;
  overflow: hidden;
  border: 1px solid #eeeeee;
}
