@use "sass:map";

@import "~@/assets/styles/utils/index";

@include c(header) {
  @include text--middle(map.get($the-layout, the-header, height));

  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  background-color: white;

  @include e(user, logout) {
    @include text--middle(map.get($the-layout, the-header, height));

    float: right;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #e6f7ff;
    }
  }

  @include e(user) {
    @include padding(null, 16px, null, 16px);
  }

  @include e(logout) {
    position: relative;
    width: 60px;

    .el-avatar {
      @include position--absolute(50%, null, null, 50%);

      transform: translateX(-50%) translateY(-50%);
    }
  }
}
