@import "../../utils/index";

@include c(model) {
  @include e(input) {
    width: 320px !important;

    .ivu-upload,
    .ivu-btn {
      display: block !important;
      width: 100% !important;
      text-align: left;
    }
  }
}
