@import "@/styles/utils/index";

@include c(list-image) {
  @include size(80px, 80px);
  @include margin(6px, null, 6px);

  display: block;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 rgba(#cccccc, 0.4);
}
