@use "sass:map";

@import "~@/assets/styles/utils/index";

@include c(sidebar) {
  @include position--absolute(0, null, 0, 0);

  z-index: 1;
  width: map.get($the-layout, the-sidebar, width);
  background-color: #001529;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.1);

  @include e(logo) {
    @include size(100%, map.get($the-layout, the-header, height));

    background-color: #002140;
    line-height: map.get($the-layout, the-header, height);
    padding-left: 60px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    transform-style: preserve-3d;
  }

  @include e(logo-icon) {
    @include position--absolute(50%, null, null, 20px);

    transform: translateY(-50%);
    line-height: 0;

    .el-avatar {
      background-color: #1890ff;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  .el-menu {
    width: map.get($the-layout, the-sidebar, width) + 2px;
  }

  .el-sub-menu__title,
  .el-menu > .el-menu-item {
    background-color: #021d36 !important;

    @include c(iconfont) {
      font-size: 16px;
      color: white;
      margin-right: 10px;
    }
  }

  .el-sub-menu .el-menu-item {
    padding-left: 46px !important;
  }

  .el-menu > .el-menu-item {
    &.is-active {
      background-color: transparent !important;
    }
  }

  .el-menu-item-group__title {
    display: none;
  }
}
