@use "sass:map";

@import "~@/assets/styles/utils";

@include b(detail) {
  max-height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 4px;

  li {
    @include padding(6px, null, 6px, 90px);

    position: relative;
    line-height: 150%;
  }

  label {
    @include position--absolute(10px, null, null, 0);

    line-height: 100%;
  }
}
