@use "sass:map";

@import "~@/assets/styles/utils";

@include b(main) {
  @include position--fixed(80px, null, 80px, 0);

  width: 100%;
  background: {
    image: url("./components/main/images/bg.png");
    position: center center;
    size: auto 100%;
  }

  @include c(container) {
    height: 100%;
  }

  @include e(icon) {
    @include position--absolute(50%, null, null, 0);

    transform: translateY(-50%);

    h2 {
      padding-top: 50px;
      color: map.get($colors, primary, base);
      font-size: 22px;
      line-height: 100%;
      text-align: center;
    }

    img {
      @include size(520px * 0.85, 446px * 0.85);

      display: block;
    }
  }
}
