// 兼容 IE8
$supports-ie8: true;

// 字体
$fonts: 12px 14px 16px 18px 20px 22px 30px 60px 36px;

// 颜色
$colors: #fff #28b197 #ececec #999 #f6f6f6 #333 #faaf3f;

// 行高 - 默认
$line-height: 180%;

// 页面最小宽度
$min-width: 1200px;
