// 字体 - 中文
$font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

// 字体 - 移动端
$font-family-mobile: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;

// 字体 - 英文
$font-family-english: Arial, Helvetica, sans-senif, "Microsoft YaHei";

// BEM element 分隔符
$separator-element: '__';

// BEM modifier 分隔符
$separator-modifier: '--';
