@use "sass:map";

@import "node_modules/element-plus-admin/assets/styles/global/reset/root";
@import "node_modules/element-plus-admin/assets/styles/global/reset/tags";

body {
  font-family: $font-family;
  color: map.get($text-color, regular);
  background-color: #f2f6fc;
  margin: 0;
  padding: 0;
}
