@use "sass:map";

body {
  font-family: $font-family;
  color: map.get($text-color, regular);
  background-color: #f2f6fc;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  @include size(100%, 100%);

  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.w-e-text p,
.w-e-text h1,
.w-e-text h2,
.w-e-text h3,
.w-e-text h4,
.w-e-text h5,
.w-e-text table,
.w-e-text pre {
  margin: 6px 0 !important;
  line-height: 1.2 !important;
}
