@use "sass:map";

@import "node_modules/sass-utils/pc/global/reset/base";

@import "node_modules/element-plus-admin/assets/styles/global/reset/root";

body {
  color: map.get($text-color, regular);
  background-color: #f2f6fc;
}
