@font-face {
  font-family: "c-iconfont"; /* Project id 3325521 */
  src: url("//at.alicdn.com/t/c/font_3325521_drrl7vh19ye.woff2?t=1664148146521")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3325521_drrl7vh19ye.woff?t=1664148146521")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3325521_drrl7vh19ye.ttf?t=1664148146521")
      format("truetype");
}

.c-iconfont {
  font-family: "c-iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-iconfont--job:before {
  content: "\e647";
}

.c-iconfont--other:before {
  content: "\e629";
}

.c-iconfont--information:before {
  content: "\e8ea";
}

.c-iconfont--talent:before {
  content: "\e60d";
}

.c-iconfont--prize:before {
  content: "\e671";
}

.c-iconfont--research:before {
  content: "\e677";
}

.c-iconfont--introduction:before {
  content: "\e685";
}

.c-iconfont--team:before {
  content: "\e62d";
}
