@font-face {
  font-family: "c-iconfont"; /* Project id 2745224 */
  src: url("//at.alicdn.com/t/font_2745224_wcw0wb7jcl.woff2?t=1628944965581")
      format("woff2"),
    url("//at.alicdn.com/t/font_2745224_wcw0wb7jcl.woff?t=1628944965581")
      format("woff"),
    url("//at.alicdn.com/t/font_2745224_wcw0wb7jcl.ttf?t=1628944965581")
      format("truetype");
}

.c-iconfont {
  font-family: "c-iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-iconfont--safe-filled:before {
  content: "\e63e";
}

.c-iconfont--lock-filled:before {
  content: "\e62e";
}

.c-iconfont--user-filled:before {
  content: "\e601";
}
