@include c(swiper) {
  position: relative;

  @include e(swiper, image) {
    width: 100%;
    overflow: hidden;
  }

  @include cc(indicator) {
    @include position--absolute(null, null, px2rpx(20px), 0);

    text-align: center;
    width: 100%;
    line-height: 100%;

    @include e(item) {
      @include circle(px2rpx(12px));
      @include margin(0, px2rpx(5px), null, px2rpx(5px));

      display: inline-block;
      background-color: map-get($colors, c11);
      opacity: 0.6;

      &.is-active {
        background-color: map-get($colors, c11);
        opacity: 1;
      }
    }
  }
}
