@include c(tabs) {
  $border-bottom_color: map-get($colors, c34);
  $__item_height: 76px;
  $__item-is-active_color: map-get($colors, c21);

  display: flex;
  border-bottom: 1px solid $border-bottom_color;
  z-index: map-get($z-indexes, c-tabs);

  @include e(item) {
    @include text--middle(px2rpx($__item_height));

    position: relative;
    flex: 1;

    &.is-active {
      color: $__item-is-active_color;

      &::after {
        @include position--absolute(null, null, px2rpx(8px), 50%);

        transform: translateX(-50%);
        display: block;
        content: "";
        width: px2rpx(48px);
        border-bottom: px2rpx(6px) solid $__item-is-active_color;
        border-radius: px2rpx(6px);
      }
    }
  }
}
