.header {
  background-color: white;
  border-bottom: 1px solid #dfe4e9;

  .header-center {
    width: 1200px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;

    .operations {
      float: right;
      text-align: right;
    }
  }
}
