@import "~@/assets/styles/utils/index";

@import "~sass-utils/global/index";
@import "~sass-utils/pc/global/index";
@import "~sass-utils/ui/element-plus/global/index";

@import "./components/index";
@import "../element-plus/index";
@import "./reset/index";

@import "node_modules/element-plus/packages/theme-chalk/src/index";
