@import "~@/assets/styles/utils/index";

@include c(editor) {
  @include e(toolbar) {
    border: 1px solid #e8eaec;
    border-bottom: 0;
  }

  @include e(text) {
    border: 1px solid #e8eaec;
    height: 500px;
  }
}
