@import "~@/assets/styles/utils/index";

@include c(editor) {
  @include e(toolbar) {
    border: 1px solid #e8eaec;
    border-bottom: 0;
  }

  @include e(input) {
    border: 1px solid #e8eaec;
  }

  .w-e-text p,
  .w-e-text h1,
  .w-e-text h2,
  .w-e-text h3,
  .w-e-text h4,
  .w-e-text h5,
  .w-e-text table,
  .w-e-text pre {
    margin: 6px 0 !important;
    line-height: 1.2 !important;
  }
}
