.main {
  background-color: white;
  position: absolute;
  width: 1200px;
  top: 75px;
  margin-left: 50%;
  left: -600px;
  bottom: 0;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #dfe4e9;
}
