@import "~@/assets/styles/utils";

@include v(login) {
  @import "./components/header/style";
  @import "./components/main/style";
  @import "./components/footer/style";

  @include b(login) {
    @include position--absolute(50%, 50px);
    @include padding(40px, 36px, 20px, 36px);

    transform: translateY(-50%);
    background: white;

    @include e(title) {
      padding-bottom: 30px;
      line-height: 100%;
      font-size: 20px;
      text-align: center;
    }
  }

  @include b(form) {
    width: 280px;
  }
}
