@import "~@/assets/styles/utils";

@include v(login) {
  @include position--absolute(40%, null, null, 50%);

  transform: translate(-50%, -50%);
  width: 440px;

  @include b(form) {
    width: 360px;
  }
}
